@model Keys.ViewModels.CustomerViewModel

<style>
    .validationMessage {
        color: red;
    }

    #msg {
        color: red;
    }
</style>
<div>
    <form id="myFormEdit">
        @Html.HiddenFor(m => m.Customer.Id)
        @Html.LabelFor(model => model.Customer.Name)
        @Html.TextBoxFor(model => model.Customer.Name, new { @class = "form-control", @placeholder = "Name", @id = "Name", @data_bind = "value:Name, valueUpdate: 'keyup'", @onkeydown = "ClearText()" })
        @Html.ValidationMessageFor(m => m.Customer.Name, "")
        <span id="msg"></span>
        <div>
            @Html.LabelFor(model => model.Customer.Address)
            @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control", @placeholder = "Address", @id = "Address", @data_bind = "value:Address, valueUpdate: 'keyup'" })
            @Html.ValidationMessageFor(m => m.Customer.Name, "")
        </div>

    </form>
</div>

<script src="~/Scripts/knockout-3.4.2.debug.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>
<script>
    $(document).ready(function () {
        (function ($) {
            var contactInfo = {
                Name: ko.observable($("#Name").val()).extend({
                    required: {
                        params: true,
                        message: "Please Enter The Name"
                    }, minLength: {
                        params: 2,
                        message: "Invalid Name , Please Enter Atleast 2 Letters"
                    }, maxLength: 7
                }),
                Address: ko.observable($("#Address").val()).extend({
                    required: {
                        params: true,
                        message: "Please Enter The Address"
                    }, minLength: {
                        params: 2,
                        message: "Invalid Address , Please Enter Atleast 2 Letters"
                    }, maxLength: 200
                })
            };
            ko.applyBindings(contactInfo);
        }($))
        $("#btnSubmitEdit").click(function () {
            var data = $("#myFormEdit").serialize();
            $.ajax({
                type: "POST",
                url: "/Customer/Index",
                data: data,
                success: function (response) {
                    var message = $("#msg");
                    if (response) {
                        $("#myModal1").modal("hide");
                        window.location.href = "/Customer/Index";
                    }
                    else {
                        message.html("Name already exists.Please choose a different Name!");
                    }
                }
            })
        })
    })
    var ClearText = function () {
        $("#msg").html("");
    }
</script>

